# macOS 시스템 파일
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.fseventsd
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.TemporaryItems
.VolumeIcon.icns
.apdisk

# Xcode
build/
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcuserstate
*.xccheckout
*.xcscmblueprint
xcuserdata/
*.xcuserdatad
project.xcworkspace
*.xcworkspace
.xcode.env.local

# Swift Package Manager
.swiftpm
.build/

# CocoaPods
Pods/
Podfile.lock
/Pods/
**/Info.plist

# Carthage
Carthage/
Cartfile.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/

# Archives & Artifacts
*.xcarchive
*.ipa
*.jsbundle
*.dSYM.zip
*.dSYM
*.hmap

# Code signing
*.cer
*.mobileprovision
*.p12

# Swift Playgrounds
timeline.xctimeline
playground.xcworkspace

# Simulator
*.simruntime
*.simdevice
*.simdata

# Firebase (보안주의)
GoogleService-Info.plist

# 기타
ios/**/Info.plist
*.log